
.contact-container {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.contact-form {
    width: 80%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.github-container {
    display: flex;
    flex-flow: row nowrap;
    width: 50%;
    align-content: center;
    justify-content: center;
}

.github-logo {
    width: 200px;
}

.github-mark {
    width: 70px;
    height: 70px;
}

.linkedin-container {
    margin: 30px 0;
}

.linkedin-logo {
    width: 70px;
    border-radius: 50%;
    margin-right: 15px;
}

.linkedin-mark {
    width: 200px;
}